@page "/events/"
@using System.Web;
@using TNG.Web.Board.Data.DTOs;
@using TNG.Web.Board.Utilities;
@{
    var rsvpClasses = new Dictionary<string, List<string>>
    {
        {"NA", new() { "btn-primary", "btn-outline-primary" } },
        {"Going", new() { "btn-success", "btn-outline-success" } },
        {"MaybeGoing", new() { "btn-secondary", "btn-outline-secondary" }}
    };
}

<HeadContent>
    <meta property="og:title" content="TNG:AZ Events" />
    <meta property="og:description" content="Upcoming Events" />
</HeadContent>

<div class="container">
    <a href="/about">For more information about TNG COVID-19 policies, please see ABOUT page.</a>
    <AuthorizeView Roles="Boardmember">
        <Authorized>
            <br />
            <label>Start Date:</label><input type="date" @bind=@CalendarStartDate /><br />
            <label>End Date:</label><input type="date" @bind=@CalendarEndDate/><br/>
            <button type="button" @onclick=@(() => {_events = null; StateHasChanged();})>Submit</button>
        </Authorized>
    </AuthorizeView>
@foreach(var calendarEvent in GetUpcomingEvents().Result)
{
        var rsvp = Member?.Events?.FirstOrDefault(e => e.EventId == calendarEvent.Id);
        var rsvpStatus = rsvp?.Status;
        var isBoard = auth.IsBoardmember().Result;
        var going = GetRsvpMemberList(calendarEvent.Id, EventRsvpStatus.Going, isBoard) ?? string.Empty;
        var maybe = GetRsvpMemberList(calendarEvent.Id, EventRsvpStatus.MaybeGoing, isBoard) ?? string.Empty;
        var startTime = calendarEvent.Start.DateTime.ToAZTime();
        var description = calendarEvent.Description ?? string.Empty;
        var hasVolunteerSlots = (context.VolunteerEventSlots?.Any(s => s.EventId == calendarEvent.Id) ?? false) && Member != null;
        <div class="card">
        <div class="card-header">
            <form class="form-inline">
                    <button type="button" @onclick=@(async () => await RsvpDelete(calendarEvent.Id)) class="btn @(rsvpStatus is null ? rsvpClasses["NA"][0] : rsvpClasses["NA"][1])">N/A</button>
                    <button type="button" @onclick=@(async () => await RsvpGoing(calendarEvent.Id)) class="btn @(rsvpStatus is not null && rsvpStatus == EventRsvpStatus.Going ? rsvpClasses["Going"][0] : rsvpClasses["Going"][1])">Going</button>
                    <button type="button" @onclick=@(async () => await RsvpMaybeGoing(calendarEvent.Id)) class="btn @(rsvpStatus is not null && rsvpStatus == EventRsvpStatus.MaybeGoing ? rsvpClasses["MaybeGoing"][0] : rsvpClasses["MaybeGoing"][1])">Maybe Going</button>
                    @if(rsvp is not null)
                    {
                        <button type="button" class="btn btn-info" @onclick=@(() => ShowNotesModal(rsvp))>Manage +1s</button>
                    }
                    @if (hasVolunteerSlots)
                    {
                        <button type="button" class="btn btn-light" @onclick=@(() => ShowVolunteerModal(calendarEvent.Id))>Volunteer</button>
                    }
                    <AuthorizeView Roles="Boardmember">
                        <Authorized>
                            <button type="button" @onclick=@(() => navigation.NavigateTo($"/events/manage/{calendarEvent.Id}")) class="btn">Manage RSVP</button>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="Boardmember,Ambassador">
                        <Authorized>
                            <button type="button" @onclick=@(() => navigation.NavigateTo($"/events/door/{calendarEvent.Id}")) class="btn btn-primary">Door View</button>
                        </Authorized>
                    </AuthorizeView>
            </form>
        </div>
        <div class="card-body">
            <h3 class="card-title"><a href="@($"/events/{calendarEvent.Id}")">@calendarEvent.Summary</a></h3>
            <div class="share">
                <button type="button" class="btn btn-info" onclick=@($"copyToClipboard(event, 'https://tngaz.org/events/{calendarEvent.Id}')")>Copy Link</button>
            </div>
            <div class="eventDetails">
                <h5><i class="bi bi-clock"></i>@($"Happening on {startTime?.DayOfWeek} {startTime:MM/dd/yyyy} at {startTime:hh:mm tt}")</h5>
            @if(!string.IsNullOrEmpty(calendarEvent.Location))
            {
                <h5><a href="https://www.google.com/maps/search/?api=1&query=@HttpUtility.UrlEncode(calendarEvent.Location)"><i class="bi bi-map"></i>@calendarEvent.Location</a></h5>
            } 
            </div>
            <p class="card-text">
            @{
                var displayDescription = StringTools.RemoveHtml(description);
                displayDescription = displayDescription.Substring(0, Math.Min(displayDescription.Length, 300))
                    + (displayDescription.Length > 300 ? "..." : string.Empty);
            }        
            @displayDescription
            </p>
            @if (!string.IsNullOrEmpty(going))
            {
                <p>Going: @((MarkupString)going)</p>
            }
            @if (!string.IsNullOrEmpty(maybe))
            {
                <p>Maybe Going: @((MarkupString)maybe)</p>
            }
        </div>
    </div>
    <br/>
}
</div>