@page "/members/"

<h3>Members</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Scene Name<br/><input type="text" @bind="SceneNameFilter"/></th>
      <th scope="col">Membership Type</th>
      <th scope="col">Legal Name<br/><input type="text" @bind="LegalNameFilter"/></th>
      <th scope="col">Event Attended</th>
      <th scope="col">Dues Last Paid</th>
      <th scope="col">Orientation Last Attended</th>
      <th scope="col">Is Suspended<br/>
          <select @onchange="OnSuspendedFilterChange" value="@((int)(SuspendedStatusFilter ?? 0))">
              <option value=@((int)SuspendedStatusEnum.All)>All</option>
              <option value=@((int)SuspendedStatusEnum.No)>No</option>
              <option value=@((int)SuspendedStatusEnum.Yes)>Yes</option>
          </select></th>
      <th scope="col">COVID Vax Status</th>
      <th scope="col">Birthday</th>
      <th scope="col">Email<br/><input type="text" @bind="EmailFilter"/></th>
    </tr>
  </thead>
  <tbody>
  @foreach(var member in GetFilteredMembers())
  {
    <tr>
        <td>@member.SceneName</td>
        <td>@member.MemberType.ToString()</td>
        <td>@member.LegalName</td>
        <td>@member.HasAttendedSocial.ToString()</td>
        <td>@(member.Payments?.OrderByDescending(p => p.PaidOn).FirstOrDefault()?.PaidOn.ToString("MM/dd/yyyy") ?? "n/a")</td>
        <td>@(member.Orientations?.OrderByDescending(o => o.DateReceived).FirstOrDefault()?.DateReceived.ToString("MM/dd/yyyy") ?? "n/a")</td>
        <td>@SuspensionDisplay(member)</td>
        <td>@(member.ReceivedProofOfCovid19Vaccination ? "Received" : "Unknown")</td>
        <td>@member.Birthday.ToString("MM/dd/yyyy")</td>
        <td>@member.EmailAddress</td>
    </tr>
  }
  </tbody>
</table>
