@page "/admin/volunteering/{eventId}"
@using TNG.Web.Board.Data.DTOs

@if (!(Slots?.Any() ?? false))
{
    <label > Clone from existing event?</label>
    <label>Start Date:</label>
    <input type="date" @bind=@CloneStartDate />
    <br />
    <label>End Date:</label>
    <input type="date" @bind=@CloneEndDate />
    <br />
    <button onclick=@(async () => await GetCloneEvents())>Search</button>
    <input list="list" type="text" placeholder="Select/Search" @bind=CloneEventId/>
    <datalist id="list">
        @foreach (var e in CloneEvents)
        {
            <option value="@e.Id">@e.Summary</option>
        }
    </datalist>
    <button @onclick=@(async () => await CloneEventSlots())>Clone</button>
    <br />
    <br />
}
<select class="form-control" @onchange="PositionChange">\
    <option>Select a Position</option>
    @foreach(var p in Positions ?? Enumerable.Empty<VolunteerPosition>())
    {
        <option value="@p.Id">@p.Name</option>
    }
</select>
<button @onclick=@(async () => await AddSlot(SelectedPositionId))>Add Slot</button>
<br/>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Position Name</th>
            <th>Priority</th>
            <th>Start Time</th>
            <th>Duration<br/>(Minutes)</th>
            <th>Minimum Needed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var s in Slots ?? Enumerable.Empty<VolunteerEventSlot>())
    {
        <tr>
            <td>@s.Position.Name</td>
            <td><input type="number" @bind=s.Priority /></td>
            <td><input type="time" @bind=s.StartTime/></td>
            <td><input type="number" @bind=s.DurationMinutes /></td>
            <td><input type="number" @bind=s.NeededCount /></td>
            <td>
                <button @onclick=@(async () => await DeleteSlot(s))>Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<button @onclick=@(() => SyncSlots())>Save</button>
